# 🐳 Docker Hub Configuration
# Скопируйте этот файл в env.config и заполните своими данными

# Ваш Docker Hub username
DOCKER_USERNAME=zargerion

# Ваш Docker Hub password ИЛИ access token (рекомендуется)
# Для получения access token:
# 1. Перейдите на https://hub.docker.com/settings/security
# 2. Нажмите "New Access Token"
# 3. Скопируйте токен сюда
DOCKER_PASSWORD=your_password_or_token

# Настройки приложения
APP_NAME=new-repo
APP_TAG=latest
